<html>

<head>
  <title>테스트</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://democpay.payple.kr/js/cpay.payple.1.0.1.js"></script>
  <script>
    $(document).ready(function () {
      var obj = new Object();
      obj.PCD_PAY_TYPE = "card";
      obj.PCD_PAY_WORK = "AUTH";

      /* 01 : 빌링키결제 */
      obj.PCD_CARD_VER = "01"

      obj.PCD_PAYER_NO = {{ index . "requestId" }};
      obj.PCD_PAYER_HP = '{{ index . "userPhone" }}';

      /* 파트너 인증시 받은 AuthKey 값 입력 */
      obj.PCD_AUTH_KEY = '{{ index . "authKey" }}';

      /* 파트너 인증시 받은 return_url 값 입력 */
      obj.PCD_PAY_URL = '{{ index . "payUrl" }}';

      /* 결과를 콜백 함수로 받고자 하는 경우 함수 설정 추가 */
      //obj.callbackFunction = getResult; // getResult : 콜백 함수명

      obj.PCD_RST_URL = '{{ index . "resultUrl"}}';

      PaypleCpayAuthCheck(obj);

      event.preventDefault();
    });
  </script>
</head>

</html>
